<% include header.ejs %>

<div class="container-fluid text-center">
    <div>
        <article>
            <h3><%- message %></h3>
        </article>
    </div>
    <hr>
    <div class="btn-group">
        <button type="button" class="btn btn-primary" onClick="window.location.href='/';">Go Back To Home</button>
        <button type="button" class="btn btn-primary" onClick="window.location.href='/category/all';">View All Events</button>
        <button type="button" class="btn btn-primary" onClick="window.location.href='/newPost';">Post New Event</button>
    </div>
</div>

<% include footer.ejs %>
