<% include header.ejs %>
<div class="container-fluid">
    <article>
        <header>
            <h1>
                <%= posts.title %>
            </h1>
        </header>
        <div class="body">
            <p><%= posts.content %></p>
        </br>
    </br>
    <p>More Details: <a href="<%= posts.externalLink %>"><span class="glyphicon glyphicon-globe"></span></a></p>
</div>
</br>
</br>
<div>
    <p>
        <button class="btn btn-primary" type="button" onClick="window.location.href='<%=posts.id + "/delete" %>';">Delete Post</button>
    </p>
</div>
</article>

</div>

</br>
</br>
<% include footer.ejs %>
