</div>

<footer class="navbar-default navbar-fixed-bottom">
    <div class="container-fluid bg-4 text-center">
        <small>Copyright <a href="/newPostAdmin">&copy;</a> 2017 Spaghetti Code</small>
    </div>
</footer>

</body>
<script>
    var a = document.getElementById("newSearch");
    a.addEventListener("submit",function(e) {
        e.preventDefault();
        var b = document.getElementById("searchText").value;
        if (/\S/.test(b)) {
            window.location.href = "/search/" + b;
        }
    });
</script>

</html>
