
</div>

<footer class="navbar-default navbar-fixed-bottom">
  <div class="container-fluid bg-4 text-center">
    <small>Copyright &copy; 2017 Spaghetti Code</small>
  </div>
</footer>

</body>

</html>