<html>
    <head>
        <title> NUS Events </title>
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <div class='main-wrap'>
        <header class='main-header'>
            <h1> <a href="/"> NUS Events </a> </h1>
        </header>
