<% include header.ejs %>

<div class="container-fluid text-center">
    <h1><small>Welcome to </small>NUS Events</h1>
</br>
<div>
    <h4>What type of Events do you want to see?</h4>
</div>

<div class="dropdown btn-group">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
        Pick Event Type
        <span class="caret"></span></button>
        <ul class="dropdown-menu">
            <li><a href="/category/all">All Types</a></li>
            <% for (var i = 0; i < categories.length; i++) { %>
                <li><a href="<%='/category/' + categories[i] %>"><%= capitalize(categories[i]) %></a></li>
            <% } %>
    </div>

    <div>
        <h4>Or do you want to Sign Up to post a new Event?</h4>
        <p> <button class="btn btn-primary" type="button" onClick="window.location.href='/signUp';">Sign Up</button> </p>
    </div>

</div>

<% include footer.ejs %>
