<% include header.ejs %>

  <div class="container-fluid text-center">
    <h1><small>Welcome to </small>NUS Events</h1>
    <div>
      <h4>What type of Events do you want to see?</h4>
      <label for="categories">Event Type: </label>
      <select id="category" name="category">
        <option value="/category/cultural">Cultural</option>
        <option value="/category/sports">Sports</option>
        <option value="/category/music">Music</option>
        <option value="/category/faculty">Faculty</option>
        <option value="/category/academic">Academic</option>
        <option value="/category/others">Others</option>
        <option value="/category/all" selected>View All</option>
    </select>
      <input type="submit" value="Go!" onclick="document.location.href = document.getElementById('category').value;">
    </div>
    <div>
      <p> <button type="button" onClick="window.location.href='/newPost';">New Post</button> </p>
    </div>
  </div>
  <% include footer.ejs %>