<% include header.ejs %>
    <!--script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            var email, pass;
            $("#submit").click(function () {
                email = $("#email").val();
                pass = $("#password").val();
                /*
                * Perform some validation here.
                */
                $.post("http://localhost:3000/login", { email: email, pass: pass }, function (data) {
                    if (data === 'done') {
                        window.location.href = "/";
                    }
                });
            });
        });
    </script>
    </head!-->

    <body>

        <!--input type="text" size="40" placeholder="Type your email" id="email"><br />
        <input type="password" size="40" placeholder="Type your password" id="password"><br />
        <input type="button" value="Submit" id="submit"-->

        <!--div class="email form-group">
            <label for="title">Email: </label>
            <input type="text" class="form-control" id="email" name="email">
        </div>

        <div class="password form-group">
            <label for="body">Password</label>
            <input type="text" class="form-control" id="password" name="password">
        </div>

        <input type="button" value="Submit" id="submit" class="btn btn-primary"-->



        <h1>Login</h1>
        <%- message %>
            Try accessing <a href="/restricted">/restricted</a>, then authenticate with "tj" and "foobar".
            <form method="post" action="/login">
                <p>
                    <label>Username:</label>
                    <input type="text" name="username">
                </p>
                <p>
                    <label>Password:</label>
                    <input type="text" name="password">
                </p>
                <p>
                    <input type="submit" value="Login">
                </p>
            </form>

    </body>
    <% include footer.ejs %>