<% include header.ejs %>
<form method="post" id="new_post" enctype="multipart/form-data">
    <div class="title form-group">
        <label for="title">Event Name: </label>
        <input type="text" class="form-control" id="title" name="title">
    </div>
    <div class="body form-group">
        <label for="body">Description <small>(Maximum characters <%= maxChars %>)</small>: </label>
        <textarea class="form-control" rows="5" id="body" name="content" maxlength=maxChars></textarea>
    </div>

    <div class="external form-group">
        <label for="external">External Link</label>
        <input type="text" class="form-control" id="external" name="externalLink">
    </div>

    <div class="category form-group">
        <label for="category">Category: </label>
        <select class="form-control" id="category" name="category">
            <option value="cultural">Cultural</option>
            <option value="sports">Sports</option>
            <option value="music">Music</option>
            <option value="faculty">Faculty</option>
            <option value="academic">Academic</option>
            <option value="others" selected>Others</option>
        </select>
    </div>

    <div class="image form-group">
        <label for="image">Upload A Poster</label>
        <input type="file" id="image" name="image" accept="image/*">
    </div>

    <input type="button" onclick="submitFormHandler()" value="Submit Event" class="btn btn-primary"/>
    <!-- Form handler to check if fields are empty -->
    <script type="text/javascript">
    function submitFormHandler() {
        var post = document.getElementById("new_post");
        // Check link
        var link = document.getElementsByName('externalLink')[0].value;
        var result = link.split("//");
        if (result[0] != "https:" && result[0] != "http:") {
            document.getElementsByName('externalLink')[0].value = "http://" + link;
        }

        // Check form for empty fields
        if (!(/\S/.test(document.getElementsByName("title")[0].value))) {
            alert("Please enter a title!");
        } else if (!(/\S/.test(document.getElementsByName("content")[0].value))) {
            alert("Please enter some content!");
        } else if (!(/\S/.test(document.getElementsByName("externalLink")[0].value))) {
            alert("Please provide an external link!");
        } else {
            post.submit();
        }
    }
    </script>
</form>
