<% include header.ejs %>
    <form method="post">
        <div class="title">
            <label for="title">Event Name: </label>
            <input id="title" name="title" type="text">
        </div>
        <div class="body">
            <label for="body">Description: </label>
            <textarea id="body" name="content"></textarea>
        </div>
        <div class="category">
            <label for="category">Category: </label>
            <select id="category" name="category">
                <option value="cultural">Cultural</option>
                <option value="sports">Sports</option>
                <option value="music">Music</option>
                <option value="faculty">Faculty</option>
                <option value="academic">Academic</option>
                <option value="others" selected>Others</option>
            </select>
        </div>
        <input type="submit" />
    </form>
<% include footer.ejs %>
