<% include header.ejs %>
  <article>
      <p> Post Deleted! </p>
      <p> <a href="/"> Home </a> </p>
  </article>
  <div>
    <p> <button type="button" onClick="window.location.href='/newPost';">New Post</button> </p>
  </div>
<% include footer.ejs %>
