<% include header.ejs %>

<div class="container-fluid">
<form method="post" id="new_post" enctype="multipart/form-data">
    <div class="title form-group">
        <label for="title">Event Name: </label>
        <input type="text" class="form-control" id="title" name="title">
    </div>

    <div class="body form-group">
        <label for="texteditor">Description <small>(Maximum characters <%= maxChars %>)</small>: </label>
        <textarea class="form-control" id="texteditor" name="content" maxlength=maxChars></textarea>
    </div>

    <div class="form-group">
        <div class="row">
            <div class="form-group col-xs-6">
                <label for="startdate">Start Date</label>
                <div class="input-group date">
                    <input type="date" class="form-control" id="startdate" name="startdate" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>

            <div class="form-group col-xs-6">
                <label for="startdate">End Date</label>
                <div class="input-group date">
                    <input type="date" class="form-control" id="enddate" name="enddate" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="external form-group">
        <label for="external">External Link</label>
        <input type="text" class="form-control" id="external" name="externalLink">
    </div>

    <div class="category form-group">
        <label for="category">Category: </label>
        <select class="form-control" id="category" name="category" />
            <% for (var i = 0; i < categories.length; i++) { %>
                <option value="<%= categories[i] %>"><%= capitalize(categories[i]) %></option>
            <% } %>
        </select>
    </div>

    <div class="image form-group">
        <label for="image">Upload A Poster</label>
        <input type="file" id="image" name="image" accept="image/*">
    </div>

    <input type="button" onclick="submitFormHandler()" value="Submit Event" class="btn btn-primary"/>
    <!-- Form handler to check if fields are empty -->
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript" src="/modernizr-custom.js"></script>
    <script type="text/javascript">
    if (!Modernizr.inputtypes.date) {
        $('input[type=date]').datepicker({
            // Consistent format with the HTML5 picker
            dateFormat: 'yy-mm-dd',
            minDate: 0
        });

        $("#startdate").datepicker("option", "onClose", function() {
            var date = $("#startdate").datepicker("getDate");
            if (date) {
                 $("#enddate").datepicker("option", "minDate", date);
             }
        });

        $("#enddate").datepicker("option", "onClose", function() {
            var date = $("#enddate").datepicker("getDate");
            if (date) $("#startdate").datepicker("option", "maxDate", date);
        });
    } else {
        var today = new Date().toISOString().split("T")[0];
        document.getElementById("startdate").setAttribute("min", today);
        document.getElementById("enddate").setAttribute("min", today);

        document.getElementById("startdate").addEventListener("blur", function(error) {
            error.preventDefault();
            var date = document.getElementById("startdate").value;
            if (date) document.getElementById("enddate").setAttribute("min", date);
        });

        document.getElementById("enddate").addEventListener("blur", function(error) {
            error.preventDefault();
            var date = document.getElementById("enddate").value;
            if (date) document.getElementById("startdate").setAttribute("max", date);
        });
    }

    function submitFormHandler() {
        var post = document.getElementById("new_post");
        // Check link
        var link = document.getElementsByName("externalLink")[0].value;
        var result = link.split("//");
        if (result[0] != "https:" && result[0] != "http:") {
            document.getElementsByName("externalLink")[0].value = "http://" + link;
        }

        // Check form for empty fields
        if (!(/\S/.test(document.getElementsByName("title")[0].value))) {
            alert("Please enter a title!");
        } else if (!(/\S/.test(document.getElementsByName("externalLink")[0].value))) {
            alert("Please provide an external link!");
        } else if (document.getElementById("startdate").value === "" ||
        document.getElementById("enddate").value === "") {
            alert("Please enter start/end dates!")
        } else if (validate()) {
            post.submit();
        }
    }
    </script>
</form>
</div>

<% include footer.ejs %>
