<% include header.ejs %>
    <form method="post" id="new_post">
        <div class="title form-group">
            <label for="title">Event Name: </label>
            <input type="text" class="form-control" id="title" name="title">
        </div>
        <div class="body form-group">
            <label for="body">Description: </label>
            <textarea class="form-control" rows="5" id="body" name="content"></textarea>
        </div>
        <div class="category form-group">
            <label for="category">Category: </label>
            <select class="form-control" id="category" name="category">
                <option value="cultural">Cultural</option>
                <option value="sports">Sports</option>
                <option value="music">Music</option>
                <option value="faculty">Faculty</option>
                <option value="academic">Academic</option>
                <option value="others" selected>Others</option>
            </select>
        </div>
        <input type="button" onclick="submitFormHandler()" value="Submit Event" class="btn btn-primary"/>
        <!-- Form handler to check if fields are empty -->
        <script type="text/javascript">
            function submitFormHandler() {
                if (document.getElementsByName("title")[0].value == "") {
                    alert("Please enter a title!");
                } else if (document.getElementsByName("content")[0].value == "") {
                    alert("Please enter some content!");
                } else {
                    var post = document.getElementById("new_post");
                    post.submit();
                }
            }
        </script>
</form>
