<% include header.ejs %>

<div class="container-fluid text-left">
    <h1>Users</h1>
</div>

<table class='table'>
    <thead>
        <tr>
            <th class="col-xs-3">User</th>
            <th class="col-xs-3">Organisation</th>
            <th class="col-xs-3">Salt</th>
            <th class="col-xs-3">Hash</th>
        </tr>
    </thead>
    <tbody>
        <% for (var i = 0; i < users.length; i++) { %>
            <tr>
                <td><%= users[i].name %></td>
                <td><%= users[i].organiser %></td>
                <td><%= users[i].salt %></td>
                <td><%= users[i].hash %></td>
            </tr>
            <% } %>
        </tbody>
    </table>

    <div>
    </br>
    <p> <button class="btn btn-primary" type="button" onClick="window.location.href='/newPost';">Post New Event</button> </p>
</div>

<% include footer.ejs %>
